<nav class="menu">
  <ul>
      <!-- This is an SEO change -->
      <li><a [routerLink]="['/']" title="Home page to tell briefly about the app">Homepage</a></li>
      <li><a [routerLink]="['/about']" title="Get to know more about the app">About</a></li>
      <li><a [routerLink]="['/login']" title="Log in to access all the services">Login</a></li>
      <li><a [routerLink]="['/contact']" title="Contact">Contact</a></li>
      <!-- <li><a [routerLink]="https://google.com" title="Direct link to Google page">Google</a></li> -->
  </ul>
</nav>
